.card-planet {
  border-radius: 15px;
  box-shadow: 1px -4px 26px 2px #e1da0a;
  margin-bottom: 100px;

  color: #ededed;
  padding: 20px;
}

.card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.planet-name {
  text-align: -moz-center;
  text-align: center;
  text-align: -webkit-center;
  position: relative;
  margin-bottom: 20px;
}

.planet-name::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 228px;
  left: auto;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(264.91deg, #4e4800 0.73%, #d9d680 95.85%);
}

.btn-back {
  background: #6c6507;
  padding: 10px 65px;
  color: #ededed;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

/* resident */

.persona {
  display: flex;
  flex-wrap: wrap;
}

.hide {
  display: none;
}


