<p>about works!</p>
<div class="card-planet">
  <h3 class="planet-name">Планета <span id="texti"></span></h3>
  <div id="card-description" class="card-description">
    <div class="card-description__col">
      <h3>Диаметр: <span id="diameter_null"></span></h3>
      <h3>Часов в сутках: <span id="rotation_period_null"></span></h3>
      <h3>Дней в году: <span id="orbital_period_null"></span></h3>
      <h3>Гравитация: <span id="gravity_null"></span></h3>
    </div>
    <div class="card-description__col">
      <h3>Популяций: <span id="population_null"></span></h3>
      <h3>Климат: <span id="climate_null"></span></h3>
      <h3>Рельеф: <span id="terrain_null"></span></h3>
      <h3>Естесственные воды: <span id="surface_water_null"></span>%</h3>
    </div>
  </div>
</div>

<div class="card-planet">
  <div class="person-filter">
    <button class="button-sort" data-filter="all">all</button>
    <button class="button-sort" data-filter="male">male</button>
    <button class="button-sort" data-filter="female">female</button>
    <button class="button-sort" data-filter="na">n/a</button>
  </div>

  <div id="persona" class="persona">
    <h3 id="persona_name"></h3>
  </div>
</div>
<div class="btn-container">
<a class="btn-back" routerLink="../">back</a>
</div>
<br>
<br>
